body {
  padding-top: 50px;
}


form ul {	
	padding: 0;
	width: 100%;
}

form ul li {
	list-style-type: none;
	width: 100%;
}

form label span {
	display:block;
}

form ul li label {
	width: 100%;
}

form input, form select {
	display: inline !important;
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

form input:focus, form select:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

body>* {
	background-color: white;
}

#ans b {
	font-size: 20px;
}

#ans div {
	margin: 10px;
	padding: 10px;
	text-align: center;
}

#footer {
	border-top: 1px solid #EEE;
	padding-top: 20px;
}

input[name=name] {
	padding-right: 45px;
}

.keyboardInputInitiator {
    position: absolute;
    margin-top: 10px;
    right: 0px;
    margin-right: 43px;
}
